<%= form_with(model: @post, local: true,url: choose_new_or_edit) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>件のエラーがあります。</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<body>
<header>
  <div class = "header_logo">
  <h1>つぶやきの投稿</h1>
  </div>
     <ul class="header_menus">
      <li>
        <%= link_to("投稿一覧", posts_path) %>
      </li>
    </ul> 
</header>

  <div class="post_content">
    <%= form.label :いまどうしてる？ %>
    <%= form.text_field :content %>
  </div>

  <div class="post_actions">
    <%= form.submit :"ツイートする"%>
  </div>
  <div class="container">
    <%= yield %>
  </div>
<% end %>
<footer>
    <ul class="footer-logo" >
      <li>
        Tweeter Clone ©︎Fujisawa, inc.
      </li>
    </ul>
  </footer>
  </body>
