
  <%= begin%>
  <!DOCTYPE html>
<html>
  <head>
    <title>PostApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <div class="header_logo">
      <%= link_to("TweetClone", new_post_path) %>
    </div>
    <ul class="header_menu">
      <li><%= link_to("ツイートする", new_post_path) %></li>
      <li><%= link_to("投稿一覧", posts_path) %></li>
    </ul>
  </header>
    <div class="container">
    <%= yield %>
    </div>
  <footer>
    <ul class="footer_logo" >
      <li>Tweeter Clone ©︎Fujisawa, inc.</li>
    </ul>
  </footer>
  </body>
</html>
<%end%>
<!DOCTYPE html>
<html>
  <head>
    <title>bootstrap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <header>
      <ul>
        <li><a href="#">Bootstrapテキストページ</a></li>
        <li><a href="#">トップページ</a></li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>運営会社DIVE INTO CODE株式会社</p>
      <p>© 2015-2016 DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>